@model List<EPS3.Models.EncumbranceLookup>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Advanced Search</h3>
        <form asp-controller="EncumbranceLookups" asp-action="Search" method="GET">
            <div class="row">
                <div class="col-sm-3">
                    <h4>Search by Contract:</h4>
                    <dl>
                        <dt>Contract Number</dt>
                        <dd>
                            <input type="text" name="SearchContractNumber" id="SearchContractNumber" style="text-transform:uppercase" @if (ViewBag.SearchParams != null && ViewBag.SearchParams.SearchContractNumber != null) { @Html.Raw("value=" + ViewBag.SearchParams.SearchContractNumber)} />
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <h4>Search by Status:</h4>
                    <dl>
                        <dt>Status</dt>
                        <dd>
                            <select id="SearchCurrentStatus" name="SearchCurrentStatus">
                                @foreach (SelectListItem itemType in ConstantStrings.GetEncumbranceStatusList())
                                {
                                    <option value="@itemType.Value"> @itemType.Text </option>
                                }
                            </select>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h4>Search by Date Submitted:</h4>
                    <dl>
                        <dt>After Date:</dt>
                        <dd>

                            <div class="input-group date">
                                <input type="text" name="SearchStartDate" id="SearchStartDate" class="datepicker" @if (ViewBag.SearchParams != null && ViewBag.SearchParams.SearchStartDate != null) { @Html.Raw("value=" + ViewBag.SearchParams.SearchStartDate)} />
                                <span class="input-group-addon">
                                    <label for="SearchStartDate">
                                        <span class="glyphicon glyphicon-calendar btn btn-default"></span>
                                    </label>
                                </span>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <h4>&nbsp;</h4> <!-- this is for spacing -->
                    <dl>
                        <dt>Before Date:</dt>
                        <dd>
                            <div class="input-group date">
                                <input type="text" name="SearchEndDate" id="SearchEndDate" class="datepicker" @if (ViewBag.SearchParams != null && ViewBag.SearchParams.SearchEndDate != null) { @Html.Raw("value=" + ViewBag.SearchParams.SearchEndDate)} />
                                <span class="input-group-addon">
                                    <label for="SearchEndDate">
                                        <span class="glyphicon glyphicon-calendar btn btn-default"></span>
                                    </label>
                                </span>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div> <!-- end row -->
            <div class="row">
                <div class="col-sm-3">
                    <h4>Search by Amount:</h4>
                    <dl>
                        <dt>More than $</dt>
                        <dd>
                            <span class="input-group-addon">
                                <label for="SearchMinAmount">
                                    <span class="glyphicon glyphicon-usd btn btn-default"></span>
                                    <input type="number" name="SearchMinAmount" id="SearchMinAmount" @if (ViewBag.SearchParams != null && ViewBag.SearchParams.SearchMinAmount != null) { @Html.Raw("value=" + ViewBag.SearchParams.SearchMinAmount)} />
                                </label>
                            </span>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <h4>&nbsp;</h4> <!-- this is for spacing -->
                    <dl>
                        <dt>Less than $</dt>
                        <dd>
                            <span class="input-group-addon">
                                <label for="SearchMaxAmount">
                                    <span class="glyphicon glyphicon-usd btn btn-default"></span>
                                    <input type="number" name="SearchMaxAmount" id="SearchMaxAmount" @if (ViewBag.SearchParams != null && ViewBag.SearchParams.SearchMaxAmount != null) { @Html.Raw("value=" + ViewBag.SearchParams.SearchMaxAmount)} />
                                </label>
                            </span>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <h4>&nbsp;</h4> <!-- this is for spacing -->
                    <dl>
                        <dt>Select Amounts to Search</dt>
                        <dd>
                            <span id="SearchDollarCheckboxes">
                                <input type="checkbox" name="ckLineItemAmount" id="ckLineItemAmount" value="LineAmount" onchange="javascript: updateSearchAmountCheckboxes();" @if (ViewBag.SearchParams != null && ViewBag.SearchParams.IsLineItemAmount != null && ViewBag.SearchParams.IsLineItemAmount == true) { @Html.Raw("checked") } />Single Line Item Amount<br />
                                <input type="hidden" name="IsLineItemAmount" id="IsLineItemAmount" />
                                <input type="checkbox" name="ckEncumbranceAmount" id="ckEncumbranceAmount" value="EncumbranceAmount" onchange="javascript: updateSearchAmountCheckboxes();" @if (ViewBag.SearchParams != null && ViewBag.SearchParams.IsEncumbranceAmount != null && ViewBag.SearchParams.IsEncumbranceAmount == true) { @Html.Raw("checked") } @if (ViewBag.SearchParams == null) { @Html.Raw("checked") } />Encumbrance Total Amount<br />
                                <input type="hidden" name="IsEncumbranceAmount" id="IsEncumbranceAmount" value="true" />
                                <!--
                                <input type="checkbox" name="ckContractAmount" id="ckContractAmount" value="ContractAmount" onchange="javascript: updateSearchAmountCheckboxes();" />Contract Initial Amount<br />
                                <input type="hidden" name="IsContractAmount" id="IsContractAmount" />
                                -->
                            </span>
                        </dd>
                    </dl>
                </div> <!-- close column -->
            </div> <!-- close row -->
            <div class="row">
                <input type="submit" value="Search" /><br />
            </div>
            <div id="searchCriteriaDiv" name="searchCriteriaDiv">
                @if (ViewBag.SearchCriteria != null)
                {
                    @Html.Raw(ViewBag.SearchCriteria)
                }
            </div>
        </form>
    </div> <!-- close panel-header -->
    <div class="panel-body">
    @if (Model != null && Model.Count > 0)
    {
        <table class="table table-striped table-bordered" id="indexTable-search">
            <thead>
                <tr>
                    <th>
                        Contract
                    </th>
                    <th>
                        Encumbrance ID
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().LineItemType)
                    </th>
                    <th>
                        Financial Project Number(s)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().OriginatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().LastEditedDate)
                    </th>
                    <th>
                        Encumbrance Amount
                    </th>
                    <th>
                        Originator
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (EncumbranceLookup item in Model)
                {
                    <tr>
                        <td>
                            <a href="/Contracts/Details?id=@item.ContractID">@Html.DisplayFor(modelItem => item.ContractNumber)</a>
                            @if (ViewBag.AdIDs != null && item.LineItemType.Equals(ConstantStrings.Advertisement))
                            {
                                @if (ViewBag.AdIDs.Contains(item.GroupID))
                                {
                                    <span class="float-right" title="Click Award link to Award contract @item.ContractNumber"><a href="javascript: awardAdvertisement(@item.GroupID, '@item.ContractNumber')"> Award </a></span>
                                }
                            }
                        </td>
                        <td>
                            <a href="/LineItemGroups/Manage?id=@item.GroupID">@Html.DisplayFor(modelItem => item.GroupID)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => @item.EncumbranceStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LineItemType)
                        </td>
                        <td>
                            @if (@item.FinancialProjectNumbers != null)
                            {
                                foreach (string fpNum in item.FinProjList())
                                {
                                    @fpNum<br />
                                }
                            }
                        </td>
                        <td>
                            @item.OriginatedDate.ToString("yyyy-MM-dd hh:ss tt")
                        </td>
                        <td>
                            @item.LastEditedDate.ToString("yyyy-MM-dd hh:ss tt")
                        </td>
                        <td>
                            @item.EncumbranceAmountString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                    </tr>
                 }
            </tbody>
        </table>
    }
    else if(Model != null && Model.Count == 0)
    {
        <p>Your search returned no results</p>
    }
    </div> <!-- close panel-body -->
</div> <!-- close panel -->

