 IEnumerable<EPS3.LegacyModels.LegacyContract>

    @{
        ViewData["Title"] = "Index";
    }

    <p>&nbsp;</p>
    <div class="panel panel-default">
        <div class="panel-heading">
            Contract Conversion list
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered" id="indexTable" style="width: 100%">
                <thead>
                    <tr>
                        <th>RecID</th>
                        <th>WorkID</th>
                        <th>Contract Number</th>
                        <th>Contract Type</th>
                        <th>Method Of Procurement</th>
                        <th>Method of Procurement Index</th>
                        <th>Method of Comp</th>
                        <th>Method of Comp Index</th>
                        <th>Contract Total</th>
                        <th>Max Amt Per LOA</th>
                        <th>Can Contract Be Renewed</th>
                        <th>Vendor Name</th>
                        <th>Vendor ID</th>
                        <th>Received Yes</th>
                        <th>Received No</th>
                        <th>Fed Agm Amt</th>
                        <th>State Funds</th>
                        <th>Local Funds</th>
                        <th>Agmt Beg Date</th>
                        <th>Agmt End Date</th>
                        <th>Svc End Date</th>
                        <th>Budget Ceiling</th>
                        <th>Can Be RenewedYES</th>
                        <th>Can Be RenewedNO</th>
                        <th>Authorized To Begin Yes</th>
                        <th>Authorized To Begin No</th>
                        <th>Alterations By Contract Terms Yes</th>
                        <th>Alterations By Contract Terms No</th>
                        <th>Revisions Date</th>
                        <th>Reimbursement By Others Yes</th>
                        <th>Reimbursement By Others No</th>
                        <th>Closed</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.RecID</td>
                        <td>@item.WorkID</td>
                        <td>@item.ContractNumber</td>
                        <td>@item.ContractType</td>
                        <td>@item.MethodOfProcurement</td>
                        <td>@item.MethodOfProcurementIndex</td>
                        <td>@item.MethodOfComp</td>
                        <td>@item.MethodOfCompIndex</td>
                        <td>@item.ContractTotal</td>
                        <td>@item.MaxAmtPerLOA</td>
                        <td>@item.CanContractBeRenewed</td>
                        <td>@item.VendorName</td>
                        <td>@item.VendorID</td>
                        <td>@item.ReceivedYes</td>
                        <td>@item.ReceivedNo</td>
                        <td>@item.FedAgmAmt</td>
                        <td>@item.StateFunds</td>
                        <td>@item.LocalFunds</td>
                        <td>@item.AgmtBegDate</td>
                        <td>@item.AgmtEndDate</td>
                        <td>@item.SvcEndDate</td>
                        <td>@item.BudgetCeiling</td>
                        <td>@item.CanBeRenewedYES</td>
                        <td>@item.CanBeRenewedNO</td>
                        <td>@item.AuthorizedToBeginYes</td>
                        <td>@item.AuthorizedToBeginNo</td>
                        <td>@item.AlterationsByContractTermsYes</td>
                        <td>@item.AlterationsByContractTermsNo</td>
                        <td>@item.RevisionsDate</td>
                        <td>@item.ReimbursementByOthersYes</td>
                        <td>@item.ReimbursementByOthersNo</td>
                        <td>@item.Closed</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>