@model IEnumerable<EPS3.Models.Fund>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<input type="hidden" name="UserRoles" id="UserRoles" value="ViewBag.Roles" />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FundCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FundDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FundCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FundID">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>
