@model IEnumerable<EPS3.Models.User>

@{
    ViewData["Title"] = "Index";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h2>EPS Users</h2>

        @if (ViewBag.UserIsAdmin)
        {
            <h4>
                <a asp-action="Create">Create New</a>
            </h4>
        }
        <input type="hidden" id="UserRoles" name="UserRoles" value="@ViewBag.Roles"/>

    </div>
    <div>
        <input type="checkbox" name="showDisabledCheckbox" id="showDisabledCheckbox" onchange="toggleDisabledUsers()" />Show Disabled Users
    </div>
    <div class="panel-body">

        <table class="table table-striped table-bordered" id="indexTable-Users">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserLogin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        Roles
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var isDisabled = item.IsDisabled == 1 ? "disabledUser" : "";
                    var display = item.IsDisabled == 1 ? "style=display:none" : "";
                        <tr class="@isDisabled" @display>
                        <td>
                        @if(item.IsDisabled == 1)
                        {
                            <span  style="color: red"><strong>Disabled</strong></span>
                        }
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserLogin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @foreach (UserRole role in item.Roles)
                            {
                                <p>@role.Role </p>
                            }
                        </td>
                        <td>
                            @if (ViewBag.UserIsAdmin)
                            {
                                <a asp-action="Edit" asp-route-id="@item.UserID">Edit</a> <raw> | </raw>
                                <a asp-action="Details" asp-route-id="@item.UserID"> Details </a> <raw> | </raw>
                                <a asp-action="Delete" asp-route-id="@item.UserID"> Delete </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
