@model Dictionary<string, List<EPS3.Models.LineItemGroup>>

@{
    ViewData["Title"] = "Index";
}

<h2>Index of Encumbrance Requests</h2>
<input type="hidden" name="UserRoles" id="UserRoles" value="@ViewBag.Roles" />

<div id="tabs">
    <ul>
        @foreach (string key in Model.Keys)
        {
            if (key.Equals("MyRequests"))
            {
                <li><a href="#tabs-@key">My Requests</a></li>
            }
            else
            {
                <li><a href="#tabs-@key">@key</a></li>
            }
        }
        <li><a href="#tabs-Reports">Reports</a></li>
    </ul>

    @foreach (string key in Model.Keys)
    {
        <div id="tabs-@key">
            <table class="table table-striped table-bordered" id="indexTable-@key">
                <thead>
                    <tr>
                        <th>
                            Contract
                        </th>
                        <th>
                            Encumbrance ID
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[key].First().LineItemType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[key].First().OriginatedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[key].First().LastEditedDate)
                        </th>
                        <th>
                            Encumbrance Amount
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (LineItemGroup item in Model[key])
                    {
                        <tr>
                            <td>
                                <a href="/Contracts/Details?id=@item.Contract.ContractID">@Html.DisplayFor(modelItem => item.Contract.ContractNumber)</a>
                                @if (key == ConstantStrings.Advertisement)
                                {
                                    @if (item.CurrentStatus == ConstantStrings.CFMReady || item.CurrentStatus == ConstantStrings.CFMComplete)
                                    {
                                        <span class="float-right"><a href="/LineItemGroups/Award?id=@item.GroupID"> Award </a></span>
                                    }
                                    else
                                    {
                                        <span class="float-right" title="Advertisement does not exist.">Award</span>
                                    }
                                }
                            </td>
                            <td>
                                <a href="/LineItemGroups/Manage?id=@item.GroupID">@Html.DisplayFor(modelItem => item.GroupID)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => @item.CurrentStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LineItemType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OriginatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastEditedDate)
                            </td>
                            <td>
                                @ViewBag.EncumbranceAmounts[item.GroupID]
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div> <!-- end tab for key -->
    }
    <div id="tabs-Reports">
        To view reports, visit <a href="http://dotstpgis1/eps" target="_blank">the Legacy EPS application.</a>
    </div>
</div> <!-- end tabs div-->