@model Dictionary<string, List<EPS3.Models.LineItemGroup>>

@{
    ViewData["Title"] = "Index";
}

<h2>Index of Encumbrance Requests</h2>
<input type="hidden" name="UserRoles" id="UserRoles" value="@ViewBag.Roles" />
@if (@ViewBag.CurrentUser != null)
{
<input type="hidden" name="CurrentUserID" id="CurrentUserID" value="@ViewBag.CurrentUser.UserID" />
}
<div id="historyDialog" name="historyDialog"></div>
<div id="tabs">
    <ul>
        @foreach (string key in Model.Keys)
        {
            if (key.Equals("MyRequests"))
            {
                <li><a href="#tabs-@key">My Requests</a></li>
            }
            else
            {
                <li><a href="#tabs-@key">@key</a></li>
            }
        }
        <li><a href="#tabs-Search">Search</a></li>
    </ul>
    <div name="awardDialog" id="awardDialog"></div>
    @foreach (string key in Model.Keys)
    {
        <div id="tabs-@key">
            <table class="table table-striped table-bordered" id="indexTable-@key">
                <thead>
                    <tr>
                        <th>
                            Contract
                        </th>
                        <th>
                            Encumbrance ID
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[key].First().LineItemType)
                        </th>
                        <th>
                            Financial Project Number(s)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[key].First().OriginatedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[key].First().LastEditedDate)
                        </th>
                        <th>
                            Encumbrance Amount
                        </th>
                        <th>
                            Originator
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (LineItemGroup item in Model[key])
                    {
                        <tr>
                            <td>
                                <input type="hidden" id="@(item.GroupID)_contractNumber" value="@item.Contract.ContractNumber" />
                                <a href="/Contracts/Details?id=@item.Contract.ContractID">@Html.DisplayFor(modelItem => item.Contract.ContractNumber)</a>
                                @if (ViewBag.AdIDs != null && item.LineItemType.Equals(ConstantStrings.Advertisement))
                                {
                                    @if (ViewBag.AdIDs.Contains(item.GroupID))
                                    {
                                        <span class="float-right" title="Click Award link to Award contract @item.Contract.ContractNumber">
                                            <a href="javascript: awardAdvertisement(@item.GroupID, '@item.Contract.ContractNumber')"> 
                                            Award 
                                            </a></span>
                                    }
                                }
                            </td>
                            <td>
                                <a href="/LineItemGroups/Manage?id=@item.GroupID">@Html.DisplayFor(modelItem => item.GroupID)</a>
                                @if (ViewBag.Roles != null && ViewBag.Roles.Contains(ConstantStrings.Originator) && item.CurrentStatus.Equals(ConstantStrings.CFMComplete) && !(item.LineItemType.Equals(ConstantStrings.Advertisement)))
                                {
                                    <span class="float-right"><a href="javascript: awardDuplicate(@item.GroupID)" title="Click here to open a new Encumbrance Request that duplicates this one.">
                                         <img src="~/images/Icons/EPS_Duplicate.png" alt="Duplicate" height="16" width="16"/>
                                         </a></span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => @item.CurrentStatus)
                                @if (ViewBag.Roles != null && ((ViewBag.Roles.Contains(ConstantStrings.FinanceReviewer) && item.CurrentStatus.Equals(ConstantStrings.SubmittedFinance)) ||
                                        (ViewBag.Roles.Contains(ConstantStrings.WPReviewer) && item.CurrentStatus.Equals(ConstantStrings.SubmittedWP)) ||
                                        (ViewBag.Roles.Contains(ConstantStrings.CFMSubmitter) && item.CurrentStatus.Equals(ConstantStrings.CFMReady))))
                                {
                                    <span class="float-right"><a href="javascript: showHistoryDialog(@item.GroupID, '@item.CurrentStatus')" title="View the history for this encumbrance.">
                                         <img src="~/images/Icons/EPS_History.png" alt="History" height="16" width="20"/>
                                         </a></span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LineItemType)
                            </td>
                            <td>
                                @{
                                    List<string> finProjNums = new List<string>();

                                    @foreach (LineItem li in item.LineItems)
                                    {
                                        if (!finProjNums.Contains(li.FinancialProjectNumber))
                                        {
                                            finProjNums.Add(li.FinancialProjectNumber);
                                        }
                                    }
                                    @foreach (string fpNum in finProjNums)
                                    {
                                        <div>@fpNum</div>
                                    }
                                }
                            </td>
                            <td>
                                @item.OriginatedDate.ToString("yyyy-MM-dd hh:ss tt")
                            </td>
                            <td>
                                @item.LastEditedDate.ToString("yyyy-MM-dd hh:ss tt")
                            </td>
                            <td>
                                @ViewBag.EncumbranceAmounts[item.GroupID]
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OriginatorUser.FullName)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div> <!-- end tab for key -->
    }
    <div id="tabs-Search">
        @if (ViewBag.Roles != null && ViewBag.Roles.Contains(ConstantStrings.AdminRole))
        {
            <div class="row">
                <div class="col-sm-12">
                    To view reports, visit <a href="http://dotstpgis1/eps" target="_blank">the Legacy EPS application.</a>
                </div>
                <div class="col-sm-12">
                    <hr />
                </div>
            </div> <!-- end row -->
        }
        <div class="row">
            <div class="col-sm-3">
                Find an Encumbrance Request by ID:
                <input type="text" name="findGroupID" id="findGroupID" onkeyup="validateFindGroupID()" placeholder="Enter an Encumbrance ID" />
                <input type="button" class="disabled" disabled name="findEncumbranceButton" id="findEncumbranceButton" value="Find Encumbrance Request" onclick="findEncumbrance()" />
            </div>
            <div class="col-sm-3">
                Find a Contract by Contract Number:
                <input type="hidden" id="SuppressNewScript" name="SuppressNewScript" value="true" />
                <input type="hidden" id="ContractID" name="ContractID" onchange="validateFindContract()" />
                <input type="hidden" id="ContractStatus" name="ContractStatus" />
                <input type="text" id="ContractSelector" name="ContractSelector" placeholder="Enter a Contract Number" />
                <input type="button" class="disabled" disabled name="findContractButton" id="findContractButton" value="Find Contract" onclick="findContract()" />
            </div>
        </div> <!-- end row -->
        <div class="row">
            <div class="col-sm-4">
                <a href="~/EncumbranceLookups/Search/">Advanced Search</a>
            </div>
        </div> <!-- end row -->
    </div> <!-- end Search tab -->
</div> <!-- end tabs div-->
