@model EPS3.Models.Contract

<form asp-action="Create" class="needs-validation" id="ContractForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="UserID" id="UserID" value="@ViewBag.CurrentUser.UserID" />
    <input type="hidden" name="CurrentStatus" id="CurrentStatus" value="New" />
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.ContractNumber)
                        </dt>
                        <dd>
                            @Html.TextBoxFor(model => model.ContractNumber, new { style = "text-transform:uppercase", @onchange = "findMatchingContract()" })
                            @Html.ValidationMessageFor(model => model.ContractNumber, "A five character Contract Number is required.")
                            <input type="hidden" id="DuplicateContract" name="DuplicateContract" />
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.ContractTypeID)
                            <span title="Please begin typing and select a Contract Type from the list of options."><img src="~/images/Icons/EPS_Info.png" alt="Info" height="14" width="16" /></span>
                        </dt>
                        <dd>
                            @if (Model != null)
                            {
                                <input type="hidden" id="ContractTypeID" name="ContractTypeID" value="@Model.ContractTypeID" />
                                <input type="text" id="ContractTypeSelector" name="ContractTypeSelector" value="@Model.ContractType.ContractTypeSelector" style="text-transform:uppercase" />
                            }
                            else
                            {
                                <input type="hidden" id="ContractTypeID" name="ContractTypeID" />
                                <input type="text" id="ContractTypeSelector" name="ContractTypeSelector" placeholder="Begin typing, then select" style="text-transform:uppercase" />
                            }
                        </dd>
                    </dl>
                </div>
                @{
                    var GDENdisplay = "display: none";
                    @if (Model != null && Model.ContractType != null && Model.ContractType.ContractTypeCode == "H")
                    {
                        GDENdisplay = "";
                    }
                }
                <div class="col-sm-3" style="@GDENdisplay" id="GovernorDeclareEmergencyNumberDiv">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.GovernorDeclaredEmergencyNumber)
                        </dt>
                        <dd>
                            @Html.TextBoxFor(model => model.GovernorDeclaredEmergencyNumber, new { pattern = "..-...", title = "Please enter the emergency number in XX-XXX format"})

                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.IsRenewable)
                        </dt>
                        <dd>
                            @if (Model != null)
                            {
                                @if (Model.IsRenewable > 0)
                                {
                                    <div class="custom-control custom-radio">
                                        Yes <input id="IsRenewable1" name="IsRenewable" type="radio" class="custom-control-input" checked value="1">
                                        No &nbsp;<input id="IsRenewable0" name="IsRenewable" type="radio" class="custom-control-input" value="0">
                                    </div>
                                }
                                else
                                {
                                    <div class="custom-control custom-radio">
                                        Yes <input type="radio" class="custom-control-input" id="IsRenewable1" name="IsRenewable" value="1" />
                                        No &nbsp;<input type="radio" class="custom-control-input" id="IsRenewable0" name="IsRenewable" checked value="0" />
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="custom-control custom-radio">
                                    Yes <input id="IsRenewable1" name="IsRenewable" type="radio" class="custom-control-input " value="1">
                                    No &nbsp;<input id="IsRenewable0" name="IsRenewable" type="radio" class="custom-control-input " value="0">
                                </div>
                            }
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.ContractTotal)
                        </dt>
                        <dd>
                            <span class="input-group-addon">
                                <label for="ContractTotal">
                                    <span class="btn btn-default"><img src="~/images/Icons/EPS_Dollar.png" alt="$" height="16" width="20" /></span>
                                    @Html.DisplayFor(model => model.ContractTotal, new { @class = "currency", Value = "0.00", title="Contract Inital Amount is set by Amendment, Award, or New Contract encumbrance request."})
                                </label>
                            </span>
                            @Html.ValidationMessageFor(model => model.ContractTotal, "The default Contract Initial Amount is $0.00.")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.MaxLoaAmount)
                        </dt>
                        <dd>
                            <span class="input-group-addon">
                                <label for="MaxLoaAmount">
                                    <span class="btn btn-default"><img src="~/images/Icons/EPS_Dollar.png" alt="$" height="16" width="20" /></span>
                                    @Html.TextBoxFor(model => model.MaxLoaAmount, new { @class = "currency", Value = "0.00" })
                                </label>
                            </span>
                            @Html.ValidationMessageFor(model => model.MaxLoaAmount, "The default Maximum amount per LOA is $0.00.")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.BudgetCeiling)
                        </dt>
                        <dd>
                            <span class="input-group-addon">
                                <label for="BudgetCeiling">
                                    <span class="btn btn-default"><img src="~/images/Icons/EPS_Dollar.png" alt="$" height="16" width="20" /></span>
                                    @Html.TextBoxFor(model => model.BudgetCeiling, new { @class = "currency", Value = "0.00" })
                                </label>
                            </span>
                            @Html.ValidationMessageFor(model => model.BudgetCeiling, "The default Budget Ceiling is $0.00.")
                            <div id="budgetCeilingMessage" class="error"></div>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.BeginningDate)
                        </dt>
                        <dd>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.BeginningDate, "{0:MM/dd/yyyy}" , new { @class = "datepicker", placeholder = "MM/DD/YYYY" })
                                <span class="input-group-addon">
                                    <label for="BeginningDate">
                                        <span class="btn btn-default"><img src="~/images/Icons/EPS_Calendar.png" alt="Calendar" height="16" width="20" /></span>
                                    </label>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.BeginningDate, "")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EndingDate)
                        </dt>
                        <dd>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.EndingDate, "{0:MM/dd/yyyy}", new { @class = "datepicker", placeholder = "MM/DD/YYYY" })
                                <span class="input-group-addon">
                                    <label for="EndingDate">
                                        <span class="btn btn-default"><img src="~/images/Icons/EPS_Calendar.png" alt="Calendar" height="16" width="20" /></span>
                                    </label>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.EndingDate, "")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ServiceEndingDate)
                        </dt>
                        <dd>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.ServiceEndingDate, "{0:MM/dd/yyyy}", new { @class = "datepicker", placeholder = "MM/DD/YYYY" })
                                <span class="input-group-addon">
                                    <label for="ServiceEndingDate">
                                        <span class="btn btn-default"><img src="~/images/Icons/EPS_Calendar.png" alt="Calendar" height="16" width="20" /></span>
                                    </label>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.ServiceEndingDate, "")
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-5">
                    <dl>
                        <dt>
                            <label for="ProcurementID">Procurement</label>
                        </dt>
                        <dd>
                            @Html.DropDownList("ProcurementID", new SelectList((IEnumerable<Procurement>)ViewData["Procurements"], "ProcurementID", "ProcurementSelector"), " ")
                            @Html.ValidationMessageFor(model => model.ProcurementID, "Please select a Procurement option.")
                        </dd>
                        <p></p>
                        <dt>
                            <label for="CompensationID">Contract Funding Terms</label>
                        </dt>
                        <dd>
                            @Html.DropDownList("CompensationID", new SelectList((IEnumerable<Compensation>)ViewData["Compensations"], "CompensationID", "CompensationSelector"), " ", new { @onchange = "updateBudgetCeiling()"})

                            @Html.ValidationMessageFor(model => model.CompensationID, "")
                        </dd>
                        <dt>
                            <label for="VendorID">Vendor</label>
                            <span title="Please begin typing and select a Vendor from the list of options."><img src="~/images/Icons/EPS_Info.png" alt="Info" height="14" width="16" /></span>
                        </dt>
                        <dd>
                            @if (Model != null) {
                                <input type="hidden" id="VendorID" name="VendorID" value="@Model.VendorID" />
                                <input type="text" id="VendorSelector" name="VendorSelector" value="@Model.Vendor.VendorSelector" />
                            } else {
                                <input type="hidden" id="VendorID" name="VendorID" />
                                <input type="text" id="VendorSelector" name="VendorSelector" placeholder="Begin typing, then select from the list"  />
                            }
                            <br />Select <strong><em>AD</em></strong> for Advertisement.
                        </dd>
                        <dt>
                            <a href="javascript:openAddVendorPanel();">Add New Vendor</a>
                            @*TODO: because of the display:none, the edit vendor link doesn't show up. Also, both the span and link have the same ID; need to find out if hiding it
                                was something intentional, because they decided they didn't want it, or some sort of kludgy way of making it extra secret. *@
                            @if(ViewBag.Roles != null && ViewBag.Roles.Contains(ConstantStrings.AdminRole)){
                                <span name="editVendorLink" id="editVendorLink" style="display:none"><a href="javascript:openEditVendorPanel();" id="editVendorLink" name="editVendorLink">Edit Selected Vendor</a></span>
                            }
                        </dt>
                        <p></p>
                        <dd>
                            <div id="addVendorPanel" title="Add New Vendor" style="display: none;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>Add New Vendor</h4>
                                    </div>
                                    <div class='panel-body'>
                                        <label for="VendorCode">Vendor Number:</label>
                                        <input type="text" class="form-control" name="VendorCode" id="VendorCode" width="100" style="text-transform:uppercase" required pattern="^(F|S|f|s)\d{12}" data-validate-vendor="true" title="Vendor Number is required, and must start with 'F' or 'S', followed by 12 digits" />
                                        <br />
                                        <label for="VendorName">Vendor Name:</label>
                                        <input type="text" name="VendorName" id="VendorName" required data-validate-vendor="true" width="350" />
                                        <br />
                                        <input type='button' value='Cancel' class='btn btn-default' onclick='hideAddVendorPanel()' />
                                        <input type='button' value='Add Vendor' class='btn btn-default' onclick='addNewVendor()' />
                                    </div> <!-- end panel body -->
                                </div> <!-- end panel -->
                            </div> <!-- end AddVendorPanel div -->

                            <div id="editVendorPanel" title="Edit Selected Vendor" style="display: none;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>Edit Vendor</h4>
                                    </div>
                                    <div class='panel-body'>
                                        <form asp-controller="Vendors" asp-action="Edit" id="EditVendorForm" name="EditVendorForm">
                                            <input type="hidden" name="VendorID" id="VendorID" />
                                            <label for="VendorCode">Vendor Number:</label>
                                            <input type="text" name="VendorCode" id="VendorCode" width="100" style="text-transform:uppercase" />
                                            <br />
                                            <label for="VendorName">Vendor Name:</label>
                                            <input type="text" name="VendorName" id="VendorName" width="350" />
                                            <br />
                                            <div id="vendorMessage" name="vendorMessage"></div>
                                            <br />
                                            <input type='button' value='Cancel' class='btn btn-default' onclick='closeEditedVendor()' />
                                            <input type='button' value='Save Vendor' class='btn btn-default' onclick='updateVendor("panel")' />
                                        </form>
                                    </div> <!-- end panel body -->
                                </div> <!-- end panel -->
                            </div> <!-- end EditVendorPanel div -->
                        </dd>
                        <dt>
                            <label for="RecipientID">Recipient</label>
                        </dt>
                        <dd>
                            @Html.DropDownList("RecipientID", new SelectList((IEnumerable<Recipient>)ViewData["Recipients"], "RecipientID", "RecipientSelector"), " ")
                            @Html.ValidationMessageFor(model => model.RecipientID, "Please select a Recipient.")

                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.DescriptionOfWork)
                        </dt>
                        <dd>
                            @Html.TextAreaFor(model => model.DescriptionOfWork, new { @rows = "3", @cols = "200", style = "min-width: 80%", placeholder= "Input a description for the work to be done under this contract." })
                            @Html.ValidationMessageFor(model => model.DescriptionOfWork, "Please provide a description of the work to be completed under this contract.")
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <span id="messageSpanContract"></span>
                </div>
            </div>
        </div> <!-- end panel body -->
    </div> <!-- end panel -->
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
