@model EPS3.ViewModels.EncumbranceRequestViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="panel panel-default" data-toggle="collapse" aria-expanded="true" id="contractPanel" name="contractPanel">
        <div class="panel-heading" id="contractPanelHead" name="contractPanelHead">
            <h3>
                Contract - @Html.DisplayFor(model => model.Contract.ContractNumber)
            </h3>
            <div class="row">
                <div class="col-sm-2">
                    <a href="javascript:toggleDiv('contractPanelBody','contractPanelBodyToggleLink')" id="contractPanelBodyToggleLink">Collapse</a>
                </div>
                <div class="col-sm-2">
                    @if (Model.Contract != null && Model.Contract.ContractNumber != "NEW")
                    {
                        <a href="https://fdotwp2.dot.state.fl.us/ContractFundsManagement/#/Facts/Contract/@Model.Contract.ContractNumber " target="_blank">DOT FACTS</a>
                    }
                </div>
                <div class="col-sm-2">
                    @if (@ViewBag.CanClose != null && @ViewBag.CanClose == true)
                    {
                        <a href="javascript:OpenCloseContractDialog(@Model.Contract.ContractID, '@Model.Contract.ContractNumber', '@Model.Contract.CurrentStatus')">Close this contract</a>
                        <div id="CloseContractDialog" name="CloseContractDialog"></div>
                    }
                </div>
            </div>
        </div>
        <div class="panel-body" id="contractPanelBody" name="contractPanelBody">
            <div class="row">
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.ContractNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Contract.ContractNumber)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.ContractType)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Contract.ContractType.ContractTypeSelector)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.IsRenewable)
                        </dt>
                        <dd>
                            @(Model.Contract.IsRenewable.ToString().Equals("0") ? "No" : "Yes")
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.ContractTotal)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Contract.ContractTotal)
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.MaxLoaAmount)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Contract.MaxLoaAmount)
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.BudgetCeiling)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Contract.BudgetCeiling)
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            Total of Encumbrance Requests
                        </dt>
                        <dd>
                            $@ViewBag.ContractAmount.ToString("#,##0.00")
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.Contract.BeginningDate, htmlAttributes: new { @class = "control-label" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Contract.BeginningDate)
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.Contract.EndingDate, htmlAttributes: new { @class = "control-label" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Contract.EndingDate)
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.Contract.ServiceEndingDate, htmlAttributes: new { @class = "control-label" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Contract.ServiceEndingDate)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.Contract.MethodOfProcurement, htmlAttributes: new { @class = "control-label" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Contract.MethodOfProcurement.ProcurementSelector)
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.Contract.ContractFunding, htmlAttributes: new { @class = "control-label" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Contract.ContractFunding.CompensationType)
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.Contract.Vendor, htmlAttributes: new { @class = "control-label" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Contract.Vendor.VendorSelector)
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.Contract.Recipient, htmlAttributes: new { @class = "control-label" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Contract.Recipient.RecipientSelector)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.Contract.DescriptionOfWork, htmlAttributes: new { @class = "control-label" })
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Contract.DescriptionOfWork)
                        </dd>
                    </dl>
                </div> <!-- close col -->
            </div><!-- close row -->
        </div><!-- close panel-body -->
    </div><!-- close panel -->
    <div>
        @if (ViewBag.Roles.Contains(ConstantStrings.AdminRole)
     || ViewBag.Roles.Contains(ConstantStrings.FinanceReviewer)
     || ViewBag.Roles.Contains(ConstantStrings.Originator))
        {
            <a asp-action="Edit" asp-route-id="@Model.Contract.ContractID">Edit Contract Information</a>
        }
        <a asp-action="List" asp-controller="LineItemGroups"> Back to List </a>
    </div>

    <br />
    @foreach (LineItemGroup encumbrance in Model.LineItemGroups)
    {
        <div class="panel panel-default" data-toggle="collapse" aria-expanded="true" id="encumbrancePanel_@encumbrance.GroupID" name="encumbrancePanel_@encumbrance.GroupID">
            <div class="panel-heading" id="encumbrancePanelHead_@encumbrance.GroupID" name="encumbrancePanelHead_@encumbrance.GroupID">
                <h4>Encumbrance Request @encumbrance.GroupID</h4>
                @if ((ViewBag.Roles.Contains(ConstantStrings.Originator) && @ViewBag.CurrentUser.UserID == Model.Contract.UserID) && encumbrance.CurrentStatus.Equals(ConstantStrings.Draft))
                {
                    <a asp-controller="LineItemGroups" asp-action="Manage" asp-route-id="@encumbrance.GroupID">Update Encumbrance Request</a>

                }
                <div class="row">
                    <div class="col-sm-2">
                        <label for="@encumbrance.CurrentStatus">Status:</label>
                        @encumbrance.CurrentStatus
                    </div>
                    <div class="col-sm-2">
                        <label for="@encumbrance.LineItemType">Type:</label>
                        @encumbrance.LineItemType
                        @if (encumbrance.AdvertisedDate != null)
                        {
                            <label for="@encumbrance.AdvertisedDate">Advertised Date:</label>
                            @encumbrance.AdvertisedDate
                        }
                        
                        @if (encumbrance.LettingDate != null)
                        {
                            <label for="@encumbrance.LettingDate">Letting Date:</label>
                            @encumbrance.LettingDate
                        }
                    </div>
                    <div class="col-sm-2">
                        <label for="encumbranceAmount_@encumbrance.GroupID">Amount:</label>
                        $@ViewBag.GroupAmounts[encumbrance.GroupID].ToString("#,##0.00")
                    </div>
                    @if (encumbrance.UserAssignedID != null)
                    {
                    <div class="col-sm-2">
                        <label for="@encumbrance.UserAssignedID">ID:</label>
                        @encumbrance.UserAssignedID
                        @if(encumbrance.AmendedLineItemID != null)
                        {
                            <label for="@encumbrance.AmendedLineItemID"> for LOA#</label>
                            @encumbrance.AmendedLineItemID
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="panel-body" id="encumbrancePanelBody_@encumbrance.GroupID" name="encumbrancePanelBody_@encumbrance.GroupID">
                <div class="row">
                    <div class="col-sm-12" id="encumbranceHistory_@encumbrance.GroupID" name="encumbranceHistory_@encumbrance.GroupID">
                        <h4>History</h4>
                        @if (encumbrance.Statuses == null || encumbrance.Statuses.Count < 1)
                        {
                            <p>No history available for this encumbrance request.</p>
                        }
                        else
                        {
                            <a href="javascript:toggleDiv('encumbranceHistoryTable_@encumbrance.GroupID','encumbranceHistoryToggleLink_@encumbrance.GroupID')" id="encumbranceHistoryToggleLink_@encumbrance.GroupID">Collapse</a>
                            <div id="encumbranceHistoryTable_@encumbrance.GroupID" name="encumbranceHistoryTable_@encumbrance.GroupID">
                                <table>
                                    <tr>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Commenter
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Comment
                                        </th>
                                    </tr>
                                    @foreach (LineItemGroupStatus status in encumbrance.Statuses)
                                    {
                                        <tr>
                                            <td>
                                                @status.SubmittalDate
                                            </td>
                                            <td>
                                                @status.User.FullName
                                            </td>
                                            <td>
                                                @status.CurrentStatus
                                            </td>
                                            <td>
                                                @status.Comments
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="panel-body" id="lineItemsPanel_@encumbrance.GroupID" name="lineItemsPanel_@encumbrance.GroupID">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Financial Information</h4>
                        <a href="javascript:toggleDiv('lineItemsTable_@encumbrance.GroupID','lineItemsToggleLink_@encumbrance.GroupID')" id="lineItemsToggleLink_@encumbrance.GroupID">Collapse</a>
                        <table class="table table-striped table-bordered" id="lineItemsTable_@encumbrance.GroupID" name="lineItemsTable_@encumbrance.GroupID" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>
                                        <label for="OrgCode">Organization Code</label>
                                    </th>
                                    <th>
                                        <label for="ExpansionObject">Expansion Option</label>
                                    </th>
                                    <th>
                                        <label for="FlairObject">Object Code</label>
                                    </th>
                                    <th>
                                        <label for="Amount">Amount</label>
                                    </th>
                                    <th>
                                        <label for="FinancialProjectNumber">Fin Proj #</label>
                                    </th>
                                    <th>
                                        <label for="WorkActivity">Work Activity</label>
                                    </th>
                                    <th>
                                        <label for="Category">Category</label>
                                    </th>
                                    <th>
                                        <label for="OCA">OCA</label>
                                    </th>
                                    <th>
                                        <label for="StateProgram">State Program</label>
                                    </th>
                                    <th>
                                        <label for="FiscalYear">Fiscal Year</label>
                                    </th>
                                    <th>
                                        <label for="Fund">Fund</label>
                                    </th>
                                    <th>
                                        &nbsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (LineItem item in encumbrance.LineItems)
                                {
                                    <tr>
                                        <td>
                                            <span id="OrgCode" name="OrgCode">55-@item.OrgCode</span>
                                        </td>
                                        <td>
                                            <span id="ExpansionObject" name="ExpansionObject">@item.ExpansionObject</span>
                                        </td>
                                        <td>
                                            <span id="FlairObject" name="FlairObject">@item.FlairObject</span>
                                        </td>
                                        <td>
                                            <span id="Amount" name="Amount">@item.Amount.ToString("C")</span>
                                        </td>
                                        <td>
                                            <span id="FinancialProjectNumber" name="FinancialProjectNumber">@item.FinancialProjectNumber</span>
                                        </td>
                                        <td>
                                            <span id="WorkActivity" name="WorkActivity">@item.WorkActivity</span>
                                        </td>
                                        <td>
                                            <span id="Category" name="Category">@item.Category.CategorySelector</span>
                                        </td>
                                        <td>
                                            <span id="OCA" name="OCA">@item.OCA.OCASelector</span>
                                        </td>
                                        <td>
                                            <span id="StateProgram" name="StateProgram">@item.StateProgram.ProgramSelector</span>
                                        </td>
                                        <td>
                                            <span id="FiscalYear" name="FiscalYear">@item.FiscalYear</span>
                                        </td>
                                        <td>
                                            <span id="Fund" name="Fund">@item.Fund.FundSelector</span>
                                        </td>
                                        <td>
                                            @if ((ViewBag.Roles.Contains(ConstantStrings.Originator)
                            && @ViewBag.CurrentUser.UserID == Model.Contract.UserID)
                            && encumbrance.CurrentStatus.Equals(ConstantStrings.Draft))
                                            {
                                                <a asp-controller="LineItemGroups" asp-action="Manage" asp-route-id="@item.LineItemGroupID">Edit</a> <br />
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div> <!-- close container -->