@model EPS3.ViewModels.ContractViewModel

@{
    ViewData["Title"] = "Edit Contract Information";
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="Contract.ContractID" id="Contract_ContractID" value="@Model.Contract.ContractID" />
    <input type="hidden" name="Contract.UserID" id="Contract_UserID" value="@ViewBag.CurrentUser.UserID" />
    <input type="hidden" name="Contract.CurrentStatus" id="Contract_CurrentStatus" value="@Model.Contract.CurrentStatus" />
    <input type="hidden" name="CurrentUserID" id="CurrentUserID" value="@ViewBag.CurrentUser.UserID" />
    <div class="panel panel-default" data-toggle="collapse" aria-expanded="true">
        <div class="panel-heading">
            <div class="float-right align-top paddingright">
                <strong>Originator:</strong> <a href="mailto:@ViewBag.CurrentUser.Email">@ViewBag.CurrentUser.FirstName @ViewBag.CurrentUser.LastName</a> (@ViewBag.CurrentUser.UserLogin) @ViewBag.CurrentUser.Phone<br />
                @DateTime.Now.Date.ToShortDateString()
            </div>
            <h3>
                Contract - @Html.DisplayFor(model => model.Contract.ContractNumber)
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.ContractNumber)
                        </dt>
                        <dd>
                            @if (Model.Contract.CurrentStatus.Equals(ConstantStrings.ContractDrafted) || Model.Contract.CurrentStatus.Equals(ConstantStrings.ContractNew))
                            {
                                @Html.TextBoxFor(model => model.Contract.ContractNumber, new { style="text-transform:uppercase" })
                            }
                            else
                            {
                                @Html.ValueFor(model => model.Contract.ContractNumber)
                                @Html.HiddenFor(model => model.Contract.ContractNumber)
                            }
                            @Html.ValidationMessageFor(model => model.Contract.ContractNumber, "A Contract Number is required.")
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.ContractTypeID)
                        </dt>
                        <dd>
                            <div>
                                <input type="hidden" id="Contract_ContractTypeID" name="Contract.ContractTypeID" value="@Model.Contract.ContractTypeID" />
                                <input type="hidden" id="ContractTypeID" name="ContractTypeID" value="@Model.Contract.ContractTypeID" />
                                <input type="text" size="50" class="form-control" id="ContractTypeSelector" name="ContractTypeSelector" value="@ViewBag.myContractType.ContractTypeSelector" style="text-transform:uppercase" />
                                <span id="ContractTypeClear" class="glyphicon glyphicon-remove-circle float-right" style="margin-right : 10px; vertical-align: text-bottom"></span>
                                @Html.ValidationMessageFor(model => model.Contract.ContractTypeID, "A Contract Type is required.")
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.IsRenewable)
                        </dt>
                        <dd>
                            <span>
                                <label for="IsRenewable1">Yes</label>
                                <input id="IsRenewable1" name="IsRenewable" type="radio" value="1">
                                <label for="IsRenewable0">No</label>&nbsp;
                                <input id="IsRenewable0" name="IsRenewable" type="radio" value="0">
                            </span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.ContractTotal)
                        </dt>
                        <dd>
                            <span class="input-group-addon">
                                <label for="ContractTotal">
                                    <span class="glyphicon glyphicon-usd btn btn-default"></span>
                                    @Html.TextBoxFor(model => model.Contract.ContractTotal)
                                </label>
                            </span>
                            @Html.ValidationMessageFor(model => model.Contract.ContractTotal, "The Contract Total is the sum of all associated encumbrance request.")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.MaxLoaAmount)
                        </dt>
                        <dd>
                            <span class="input-group-addon">
                                <label for="MaxLoaAmount">
                                    <span class="glyphicon glyphicon-usd btn btn-default"></span>
                                    @Html.TextBoxFor(model => model.Contract.MaxLoaAmount)
                                </label>
                            </span>
                            @Html.ValidationMessageFor(model => model.Contract.MaxLoaAmount, "The default Maximum amount per LOA is $0.00.")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.BudgetCeiling)
                        </dt>
                        <dd>
                            <span class="input-group-addon">
                                <label for="BudgetCeiling">
                                    <span class="glyphicon glyphicon-usd btn btn-default"></span>
                                    @Html.TextBoxFor(model => model.Contract.BudgetCeiling)
                                </label>
                            </span>
                            @Html.ValidationMessageFor(model => model.Contract.BudgetCeiling, "The default Budget Ceiling is $0.00.")
                            <div id="budgetCeilingMessage" class="error"></div>
                        </dd>
                        <dt>
                            Total of Encumbrance Requests
                        </dt>
                        <dd>
                            <b style="font-size: 1.2em;"> @string.Format("{0:C}", ViewBag.ContractAmount)</b>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.BeginningDate)
                        </dt>
                        <dd>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.Contract.BeginningDate, "{0:MM/dd/yyyy}", new { @class = "datepicker" })
                                <span class="input-group-addon">
                                    <label for="Contract_BeginningDate">
                                        <span class="glyphicon glyphicon-calendar btn btn-default"></span>
                                    </label>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Contract.BeginningDate, "")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.EndingDate)
                        </dt>
                        <dd>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.Contract.EndingDate, "{0:MM/dd/yyyy}", new { @class = "datepicker" })
                                <span class="input-group-addon">
                                    <label for="Contract_EndingDate">
                                        <span class="glyphicon glyphicon-calendar btn btn-default"></span>
                                    </label>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Contract.EndingDate, "")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.ServiceEndingDate)
                        </dt>
                        <dd>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.Contract.ServiceEndingDate, "{0:MM/dd/yyyy}", new { @class = "datepicker" })
                                <span class="input-group-addon">
                                    <label for="Contract_ServiceEndingDate">
                                        <span class="glyphicon glyphicon-calendar btn btn-default"></span>
                                    </label>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Contract.ServiceEndingDate, "")
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-5">
                    <dl>
                        <dt>
                            <label for="ProcurementID">Procurement</label>
                        </dt>
                        <dd>
                            @Html.DropDownList("Contract.ProcurementID", new SelectList((IEnumerable<Procurement>)ViewData["Procurements"], "ProcurementID", "ProcurementSelector"))
                            @Html.ValidationMessageFor(model => model.Contract.ProcurementID, "Please select a Procurement option.")
                            <br />
                        </dd>

                        <dt>
                            <label for="CompensationID">Contract Funding Terms</label>
                        </dt>
                        <dd>
                            @Html.DropDownList("Contract.CompensationID", new SelectList((IEnumerable<Compensation>)ViewData["Compensations"], "CompensationID", "CompensationSelector"), " ", new { @onchange = "updateBudgetCeiling()" })

                            @Html.ValidationMessageFor(model => model.Contract.CompensationID, "")
                            <br />
                        </dd>

                        <dt>
                            <label for="VendorID">Vendor</label>
                        </dt>
                        <dd>
                            <div>
                                <input type="hidden" id="Contract_VendorID" name="Contract.VendorID" value="@Model.Contract.VendorID" />
                                <input type="hidden" id="VendorID" name="VendorID" value="@Model.Contract.VendorID" onchange="updateContractVendorID()" />
                                <input type="text" class="form-control" id="VendorSelector" name="VendorSelector" value="@ViewBag.myVendor.VendorSelector" />
                                <span id="VendorClear" class="glyphicon glyphicon-remove-circle float-right " style="margin-right : 10px; vertical-align: text-bottom"></span>
                                @Html.ValidationMessageFor(model => model.Contract.VendorID, "If the Vendor is not known, select AD.")
                            </div>
                        </dd>
                        <dd>
                            <a href="javascript:openAddVendorDialog();">Add New Vendor</a>
                        </dd>
                        <dt>
                            <label for="RecipientID">Recipient</label>
                        </dt>
                        <dd>
                            @Html.DropDownList("Contract.RecipientID", new SelectList((IEnumerable<Recipient>)ViewData["Recipients"], "RecipientID", "RecipientSelector"))
                            @Html.ValidationMessageFor(model => model.Contract.RecipientID, "Please select a Recipient.")

                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Contract.DescriptionOfWork)
                        </dt>
                        <dd>
                            @Html.TextAreaFor(model => model.Contract.DescriptionOfWork, new { @rows = 3, @cols = "200" })
                            @Html.ValidationMessageFor(model => model.Contract.DescriptionOfWork, "Please provide a description of the work to be completed under this contract.")
                        </dd>
                    </dl>
                </div> <!-- end  col -->
            </div> <!-- end row -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input type="submit" value="Update Contract" class="btn btn-default" />
                    </div> <!-- end form-group -->
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div>
    </div>
    <div class="panel panel-default" data-toggle="collapse" aria-expanded="true">
        <div class="panel-heading">
            <h3>Encumbrance Requests</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Organization Code
                        </th>
                        <th>
                            Financial Project Number
                        </th>
                        <th>
                            State Program
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Work Activity
                        </th>
                        <th>
                            OCA
                        </th>
                        <th>
                            EO
                        </th>
                        <th>
                            Object
                        </th>
                        <th>
                            Fund
                        </th>
                        <th>
                            Fiscal Year
                        </th>
                        <th>
                            Amount
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (LineItem item in Model.LineItems)
                    {
                        <tr>
                            <td>
                                55-@Html.DisplayFor(modelItem => item.OrgCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FinancialProjectNumber)
                            </td>
                            <td>
                                <div class="" data-toggle="tooltip" data-placement="top" title="@item.StateProgram.ProgramName">
                                    @Html.DisplayFor(modelItem => item.StateProgram.ProgramCode)
                                </div>
                            </td>
                            <td>
                                <div class="" data-toggle="tooltip" data-placement="top" title="@item.Category.CategoryName">
                                    @Html.DisplayFor(modelItem => item.Category.CategoryCode)
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkActivity)
                            </td>
                            <td>
                                <div class="" data-toggle="tooltip" data-placement="top" title="@item.OCA.OCAName">
                                    @Html.DisplayFor(modelItem => item.OCA.OCACode)
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpansionObject)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FlairObject)
                            </td>
                            <td>
                                <div class="" data-toggle="tooltip" data-placement="top" title="@item.Fund.FundDescription">
                                    @Html.DisplayFor(modelItem => item.Fund.FundCode)
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FiscalYearRange)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                <a asp-controller="LineItemGroupss" asp-action="Manage" asp-route-id="@item.LineItemGroupID">Edit</a> |
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

<div id="contractStatusDialog" title="Update Contract Status" style="display: none;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Contract Status</h4>
        </div>
        <div class='panel-body'>
                <form asp-controller="ContractStatus" asp-action="Create" id="ContractStatusForm" name="ContractStatusForm">
                    <div asp-validation-summary='ModelOnly' class='text-danger'></div>
                    <div class='form-group'>
                        <b>Contract:</b>  @Model.Contract.ContractNumber
                    </div>
                    <div class='form-group'>
                        <b>Current Status:</b> @Model.Contract.CurrentStatus
                    </div>

                    <div>
                        <dl>
                            <dt>
                                <b>New Status</b>
                            </dt>
                            <dd>
                                <select id='CurrentStatus' name='CurrentStatus' class='form-control'>
                                   @if (ViewBag.Roles.Contains(ConstantStrings.AdminRole)
                                   || ViewBag.Roles.Contains(ConstantStrings.FinanceReviewer)
                                   || (ViewBag.Roles.Contains(ConstantStrings.Originator) && ViewBag.CurrentUser.UserID == ViewBag.Contract.UserID))
                                    {
                                    <option value='ContractDrafted'>@ConstantStrings.ContractDrafted</option>
                                    <option value='ContractInCFM'>@ConstantStrings.ContractInCFM</option>
                                    }
                                  @if (ViewBag.Roles.Contains(ConstantStrings.AdminRole)
                                  || ViewBag.Roles.Contains(ConstantStrings.FinanceReviewer))
                                    {
                                    <option value='ContractComplete50'>@ConstantStrings.ContractComplete50</option>
                                    <option value='ContractComplete52'>@ConstantStrings.ContractComplete52</option>
                                    <option value='ContractComplete98'>@ConstantStrings.ContractComplete98</option>
                                    <option value='ContractArchived'>@ConstantStrings.ContractArchived</option>
                                    }
                                </select>
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <dl>
                            <dt>
                                Comments
                            </dt>
                            <dd>
                                <textarea id='Comments' name='Comments' class='form-control'></textarea>
                            </dd>
                        </dl>
                    </div>
                    <div class='form-group'>
                        <input type='hidden' id='ContractID' name="ContractID" value='@ViewBag.Contract.ContractID' />
                        <input type='hidden' id='UserID' name='UserID' value='@ViewBag.CurrentUser.UserID' />
                        <input type="hidden" name="UserRoles" id="UserRoles" value="@ViewBag.Roles" />
                        <input type='submit' value='Update' class='btn btn-default' />
                    </div>
                </form>
            </div> <!-- end panel body -->
        </div> <!-- end panel -->
    </div> <!-- end contractStatusDialog -->
    <div id="addVendorDialog" title="Add New Vendor" style="display: none;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Add New Vendor</h4>
            </div>
            <div class='panel-body'>
                <form asp-controller="Vendors" asp-action="Create" id="AddVendorForm" name="AddVendorForm">
                    <label for="VendorCode">Vendor Number:</label>
                    <input type="text" name="VendorCode" id="VendorCode" width="100" style="text-transform:uppercase" />
                    <br />
                    <label for="VendorName">Vendor Name:</label>
                    <input type="text" name="VendorName" id="VendorName" width="350" />
                    <br />
                    <div id="vendorMessage" name="vendorMessage"></div>
                    <br />
                    <input type='hidden' id='ContractID' name="ContractID" value='@ViewBag.Contract.ContractID' />
                    <input type='button' value='Add Vendor' class='btn btn-default' onclick='addNewVendor()' />
                </form>
            </div> <!-- end panel body -->
        </div> <!-- end panel -->
    </div> <!-- end AddVendor dialog -->
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
