@model IEnumerable<EPS3.Models.Contract>



@{
    ViewData["Title"] = "Index";
}

<p>&nbsp;</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-sm-4">
            @if (ViewBag.Roles.Contains(ConstantStrings.AdminRole) || ViewBag.Roles.Contains(ConstantStrings.Originator) || ViewBag.Roles.Contains(ConstantStrings.FinanceReviewer))
            {
                <a asp-action="Create">Add New Contract</a>
            }
            else
            {
                <p>&nbsp;</p>
            }
        </div>
        <div class="col-sm-4">
            <form method="GET" action="/Contracts/ListAll" name="reloadForm">
                <input type="checkbox" name="includeAll" id="includeAll" onclick="reloadContractList()"  /><raw>Include All Contracts</raw>
            </form>
        </div>
        <div class="col-sm-4float-right">
            Welcome, <a href="mailto:@ViewBag.CurrentUser.Email">@ViewBag.CurrentUser.FirstName @ViewBag.CurrentUser.LastName</a> (@ViewBag.CurrentUser.UserLogin)</div>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered" id="indexTable" style="width: 100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ContractNumber)
                        </th>
                        <th>
                            Request Action
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContractType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BeginningDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndingDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Vendor)
                        </th>
                        <th>
                            Originator
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DescriptionOfWork)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <a asp-action="View" asp-route-id="@item.ContractID"> @Html.DisplayFor(modelItem => item.ContractNumber)</a> <br />
                        </td>
                        <td>
                            @if(ViewBag.CurrentUser.UserID == item.UserID)
                            {
                                <a href="javascript:requestCloseContract(item.ContractID);">Request to Close the Contract</a>
                            }
                            @if (ViewBag.Roles.Contains(ConstantStrings.FinanceReviewer) )
                            {
                                <a href="javascript:commitCloseContract(item.ContractID);">Close the Contract</a>
                            }
                        </td>
                        <td>
                            <div class="" data-toggle="tooltip" data-placement="top" title="@item.ContractType.ContractTypeName">
                                @Html.DisplayFor(modelItem => item.ContractType.ContractTypeCode) -
                                @Html.DisplayFor(modelItem => item.ContractType.ContractTypeName)
                            </div>
                        </td>
                        <td>
                            @String.Format("{0:d}", item.BeginningDate)
                        </td>
                        <td>
                            @String.Format("{0:d}", item.EndingDate)
                        </td>
                        <td>
                            <div class="" data-toggle="tooltip" data-placement="top" title="@item.Vendor.VendorName">
                                @Html.DisplayFor(modelItem => item.Vendor.VendorCode) -
                                @Html.DisplayFor(modelItem => item.Vendor.VendorName)
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            <div class="text-truncate" style="max-width: 150px;" data-toggle="tooltip" data-placement="top" title="@item.DescriptionOfWork">
                                @Html.DisplayFor(modelItem => item.DescriptionOfWork)
                            </div>
                        </td>
                    </tr>
                     }
                </tbody>
            </table>
        </div> <!-- end panel body -->
    </div> <!-- end panel -->