@model IEnumerable<EPS3.Models.Contract>



@{
    ViewData["Title"] = "Index";
}

<p>&nbsp;</p>
<div class="panel panel-default">
    <div class="panel-heading">
        @if(ViewBag.Roles.Contains(ConstantStrings.AdminRole) || ViewBag.Roles.Contains(ConstantStrings.Originator))
        {
            <a asp-action="Create">Add New Contract</a>
        }
        <div class="float-right">Welcome, <a href="mailto:@ViewBag.CurrentUser.Email">@ViewBag.CurrentUser.FirstName @ViewBag.CurrentUser.LastName</a> (@ViewBag.CurrentUser.UserLogin)</div>
    </div>
    <div class="panel-body">
    <table class="table table-striped table-bordered" id="indexTable" style="width: 100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.UserLogin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContractNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContractType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BeginningDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vendor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescriptionOfWork)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserLogin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractNumber) <br />
                    <a href="https://fdotwp2.dot.state.fl.us/ContractFundsManagement/#/Facts/Contract/@item.ContractNumber" target="_blank">FACTS</a>
                </td>
                <td>
                    <div class="" data-toggle="tooltip" data-placement="top" title="@item.ContractType.ContractTypeName">
                        @Html.DisplayFor(modelItem => item.ContractType.ContractTypeCode) -
                        @Html.DisplayFor(modelItem => item.ContractType.ContractTypeName)
                    </div>
                </td>
                <td>
                    @String.Format("{0:d}", item.BeginningDate)
                </td>
                <td>
                    @String.Format("{0:d}", item.EndingDate)
                </td>
                <td>
                    <div class="" data-toggle="tooltip" data-placement="top" title="@item.Vendor.VendorName">
                        @Html.DisplayFor(modelItem => item.Vendor.VendorCode) -
                        @Html.DisplayFor(modelItem => item.Vendor.VendorName)
                    </div>
                </td>
                <td>
                    <div class="text-truncate" style="max-width: 150px;" data-toggle="tooltip" data-placement="top" title="@item.DescriptionOfWork">
                        @Html.DisplayFor(modelItem => item.DescriptionOfWork)
                    </div>
                </td>
                <td>
                    @if (ViewBag.Roles.Contains(ConstantStrings.AdminRole)
|| ViewBag.Roles.Contains(ConstantStrings.FinanceReviewer)
|| (ViewBag.Roles.Contains(ConstantStrings.Originator) && @ViewBag.CurrentUser.UserID == item.UserID))
        {
            <a asp-action="Edit" asp-route-id="@item.ContractID">Edit</a> <br />
}
                    <a asp-action="Details" asp-route-id="@item.ContractID">Details</a> <br />
                </td>
            </tr>
            }
        </tbody>
    </table>
        </div> <!-- end panel body -->
</div> <!-- end panel -->