@model EPS3.ViewModels.EncumbranceRequestViewModel

@{
    ViewData["Title"] = "Contract Details";
}

<script>
   
</script>

<p>&nbsp;</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <!-- Contract Information in the panel header-->
        <div class="row">
            <div class="col-sm-4">                
                <h3>
                    Contract - @Html.DisplayFor(model => model.Contract.ContractNumber)
                </h3>
            </div>
            <div class="col-sm-3">
                <strong>@Html.DisplayNameFor(model => model.Contract.CreatedDate):</strong> @Html.DisplayFor(model => model.Contract.CreatedDate)

            </div>
            <div class="col-sm-3">
                <strong>@Html.DisplayNameFor(model => model.Contract.ModifiedDate):</strong> @Html.DisplayFor(model => model.Contract.ModifiedDate)

            </div>

            <div class="col-sm-2">
                @if(ViewBag.Roles.Contains(ConstantStrings.AdminRole) || ViewBag.Roles.Contains(ConstantStrings.FinanceReviewer) ||(ViewBag.Roles.Contains(ConstantStrings.Originator) && ViewBag.CurrentUser.UserID == Model.Contract.UserID))
                {
                    <a href="/Contracts/Edit/@Model.Contract.ContractID">Edit Contract Information</a>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <strong>Originated by:</strong> <a href="mailto:@Model.Contract.User.Email">@Model.Contract.User.FullName</a> (@Model.Contract.User.UserLogin) @Model.Contract.User.Phone <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Contract.ContractNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contract.ContractNumber)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-2">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Contract.ContractType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contract.ContractType.ContractTypeSelector)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-2">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Contract.IsRenewable)
                    </dt>
                    <dd>
                        @(Model.Contract.IsRenewable.ToString().Equals("0") ? "No" : "Yes")
                    </dd>
                </dl>
            </div>
            <div class="col-sm-2">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Contract.ContractTotal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contract.ContractTotal)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-2">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Contract.MaxLoaAmount)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contract.MaxLoaAmount)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-2">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Contract.BudgetCeiling)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contract.BudgetCeiling)
                    </dd>
                </dl>
            </div>
        </div> <!-- close row -->
        <div class="row">
            <div class="col-sm-2">
                <dl>
                    <dt>
                        @Html.LabelFor(model => model.Contract.BeginningDate, htmlAttributes: new { @class = "control-label" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contract.BeginningDate)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-2">
                <dl>
                    <dt>
                        @Html.LabelFor(model => model.Contract.EndingDate, htmlAttributes: new { @class = "control-label" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contract.EndingDate)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-2">
                <dl>
                    <dt>
                        @Html.LabelFor(model => model.Contract.ServiceEndingDate, htmlAttributes: new { @class = "control-label" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contract.ServiceEndingDate)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-3">
                <dl>
                    <dt>
                        @Html.LabelFor(model => model.Contract.MethodOfProcurement, htmlAttributes: new { @class = "control-label" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contract.MethodOfProcurement.ProcurementSelector)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-3">
                <dl>
                    <dt>
                        @Html.LabelFor(model => model.Contract.ContractFunding, htmlAttributes: new { @class = "control-label" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contract.ContractFunding.CompensationType)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-3">
                <dl>
                    <dt>
                        @Html.LabelFor(model => model.Contract.Vendor, htmlAttributes: new { @class = "control-label" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contract.Vendor.VendorSelector)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-3">
                <dl>
                    <dt>
                        @Html.LabelFor(model => model.Contract.Recipient, htmlAttributes: new { @class = "control-label" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contract.Recipient.RecipientSelector)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl>
                    <dt>
                        @Html.LabelFor(model => model.Contract.DescriptionOfWork, htmlAttributes: new { @class = "control-label" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Contract.DescriptionOfWork)
                    </dd>
                </dl>
            </div> <!-- close col -->
        </div><!-- close row -->
        <div class="row">
            <div class="col-sm-2">
                <dl>
                    <dt>
                        Amendment Amount
                    </dt>
                    <dd>
                        $@string.Format("{0:C}", ViewBag.ContractTotalAmount.ToString("#,##0.00"))
                    </dd>
                </dl>
            </div>
            <div class="col-sm-4">
                <dl>
                    <dt>
                        Contract Total Amount
                    </dt>
                    <dd>
                        $@string.Format("{0:C}", (ViewBag.ContractTotalAmount + @Model.Contract.ContractTotal).ToString("#,##0.00"))
                    </dd>
                </dl>
            </div>
            <div class="col-sm-2">
                <dl>
                    <dt>
                        Contract Status
                        <input type="hidden" id="Contract_ContractID" value="@Model.Contract.ContractID" />
                        @if (ViewBag.CurrentUser != null)
                        {
                        <input type="hidden" id="Contract_UserID" value="@ViewBag.CurrentUser.UserID" />
                        }
                    </dt>
                <dd>
                    @Model.Contract.CurrentStatus<br />

                    @if (ViewBag.ContractStatusSelectionList != null && ViewBag.ContractStatusSelectionList.Count > 0)
                    {
                    <select id="Contract_CurrentStatus" onchange="updateContractStatus()" value="@Model.Contract.CurrentStatus">
                       @foreach (SelectListItem status in ViewBag.ContractStatusSelectionList)
                       {
                           if (status.Value.Equals(Model.Contract.CurrentStatus))
                           {
                            <option selected value="@status.Value"> @status.Text </option>
                           }
                           else
                           {
                            <option value="@status.Value"> @status.Text </option>
                           }
                       }
                    </select>
                    <br />
                    }
                    <div id="UpdateSuccess"></div>
                </dd>

                </dl>
            </div>
        </div>
        <div class="row" id="contractHistoryHeaderDiv" name="contractHistoryHeaderDiv"> <a href="javascript: showContractHistory(@Model.Contract.ContractID)" id="showHistoryLink">Show History</a></div>
        <div class="row" id="contractHistoryDiv" name="contractHistoryDiv"></div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered" id="indexTable" style="width: 100%">
            <thead>
                <tr>
                    <th colspan="13">
                        <h3>Encumbrances</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
   @foreach (LineItemGroup group in Model.LineItemGroups)
    {
        
        

            <tr class="groupHeader" style="background-color: #a6dbed;" id="groupHeader_@group.GroupID">
                <td id="EncumbranceToggle_@group.GroupID">
                    <a name="enc_@group.GroupID"> </a>
                @if (group.LineItems.Count > 0)
                {
                    <a href="javascript: toggleEncumbrance('@group.GroupID')" id="toggleLink_@group.GroupID">Hide encumbrance items</a>
                }
                else
                {
                    <text>There are no items in this Encumbrance Request.</text>
                }
                </td>

                <td>
                    <strong>Contract: </strong>@Model.Contract.ContractNumber <br />
                    <strong>Encumbrance (6s): </strong>@group.LineID6S <br /><br />
                </td>
                <td>
                    <strong>Encumbrance Type:</strong> <br /> @group.LineItemType
                </td>
                <td>
                    <strong>Status:</strong> @group.CurrentStatus  <br />
                    <strong>Encumbrance Total:</strong> $@string.Format("{0:C}", ViewBag.GroupTotalAmounts[group.GroupID].ToString("#,##0.00"))
                </td>
                <td colspan="2">
                    <strong>Original FLAIR Amendment ID:</strong>  
                    @if (String.IsNullOrEmpty(@group.FlairAmendmentID))
                            {<text>None.</text>}
                    else
                    {@group.FlairAmendmentID} <br />
                    <strong>User Assigned ID:</strong> 
                    @if (String.IsNullOrEmpty(@group.UserAssignedID))
                            {<text>None.</text>}
                    else
                    {@group.UserAssignedID}  <br />
                    <strong>Corrects FLAIR ID:</strong>  
                    @if (String.IsNullOrEmpty(@group.AmendedLineItemID))
                            {<text>None.</text>}
                    else
                    {@group.AmendedLineItemID}
                </td>
                <td colspan="2"><strong>Last Updated:</strong> <br /> @String.Format("{0:d}", @group.LastEditedDate) <br />by @group.LastEditedUser.FullName</td>
                <td colspan="3">
                    @if (@group.Description != null && @group.Description.Length > 0)
                    {
                    <strong>Description:</strong>
                    @group.Description
                    }
                    <input type="hidden" id="LineItemType_@group.GroupID" value="@group.LineItemType" />
                    <input type="hidden" id="CurrentStatus_@group.GroupID" value="@group.CurrentStatus" />
                    <input type="hidden" id="FlairAmendmentID_@group.GroupID" value="@group.FlairAmendmentID" />
                    <input type="hidden" id="UserAssignedID_@group.GroupID" value="@group.UserAssignedID" />
                    <input type="hidden" id="AmendedLineItemID_@group.GroupID" value="@group.AmendedLineItemID" />
                    <input type="hidden" id="LineID6S_@group.GroupID" value="@group.LineID6S" />
                    <input type="hidden" id="ContractID_@group.GroupID" value="@ViewBag.Contract.ContractID" />
                    <input type="hidden" id="ContractNumber_@group.GroupID" value="@ViewBag.Contract.ContractNumber" />
                    @if (ViewBag.CurrentUser != null)
                    {
                    <input type="hidden" id="UserID_@group.GroupID" value="@ViewBag.CurrentUser.UserID" />
                    <input type="hidden" id="UserName_@group.GroupID" value="@ViewBag.CurrentUser.FullName" />
                    }
                </td>
                <td colspan="2">
                    @if (ViewBag.CurrentUser != null)
                    {
                    <a href="/LineItemGroups/Manage/@group.GroupID">Manage Encumbrance</a>
                    }
                </td>
            </tr>
           
        
            @if (group.Statuses != null && group.Statuses.Count > 0)
            {
            <tr>
                <td colspan="13"><a href="javascript: toggleEncumbranceHistory(@group.GroupID)" id="encumbranceHistoryToggle_@group.GroupID">Show Encumbrance History</a></td>
            </tr>
            <tr class="hidden groupStatus_@group.GroupID">
                <th colspan="2">Date</th>
                <th colspan="2">Commenter</th>
                <th colspan="2">Status</th>
                <th colspan="7">Comment</th>
            </tr>
                @foreach (LineItemGroupStatus gstatus in group.Statuses)
                {
                    <tr class="hidden groupStatus_@group.GroupID">
                        <td colspan="2">@gstatus.SubmittalDate</td>
                        <td colspan="2">@gstatus.User.FullName</td>
                        <td colspan="2">@gstatus.CurrentStatus</td>
                        <td colspan="7">@gstatus.Comments</td>
                    </tr>

                }
            }

            @if (group.LineItems.Count() > 0)
            {
                    <tr class="groupItem">
                        <th>
                            Order
                        </th>
                        <th>
                            Line ID
                        </th>
                        <th>
                            Organization Code
                        </th>
                        <th>
                            Financial Project Number
                        </th>
                        <th>
                            State Program
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Work Activity
                        </th>
                        <th>
                            OCA
                        </th>
                        <th>
                            EO
                        </th>
                        <th>
                            Object Code
                        </th>
                        <th>
                            Fund
                        </th>
                        <th>
                            Fiscal Year
                        </th>
                        <th>
                            Amount
                        </th>
                    </tr>
            }
            @foreach (LineItem item in group.LineItems)
            {
            <tr class="groupItem">
                <td>@item.LineNumber <br /></td>
                <td>
                    @item.LineItemID
                </td>
                <td>55-@item.OrgCode</td>
                <td>@item.FinancialProjectNumber</td>
                <td>@item.StateProgram.ProgramSelector</td>
                <td>@item.Category.CategorySelector</td>
                <td>@item.WorkActivity</td>
                <td>@item.OCA.OCASelector</td>
                <td>@item.ExpansionObject</td>
                <td>@item.FlairObject</td>
                <td>@item.Fund.FundSelector</td>
                <td>@item.FormattedFiscalYear()</td>
                <td>$@item.Amount.ToString("#,##0.00")</td>
            </tr>
                @if (item.Statuses != null && item.Statuses.Count > 0)
                {
                <tr>
                    <td colspan="14"><a href="javascript: toggleLineHistory(@item.LineItemID)" id="lineHistoryToggle_@item.LineItemID">Show Line Comments</a></td>
                </tr>
                <tr class="hidden lineStatus_@item.LineItemID">
                    <th colspan="2">Date</th>
                    <th colspan="2">Commenter</th>
                    <th colspan="9">Comment</th>
                </tr>
                @foreach (LineItemStatus listatus in item.Statuses)
                {
                <tr class="hidden lineStatus_@item.LineItemID">
                    <td colspan="2">@listatus.SubmittalDate</td>
                    <td colspan="2">@listatus.User.FirstName @listatus.User.LastName</td>
                    <td colspan="9">@listatus.Comments</td>
                </tr>
                 }
            }
        }

            <tr id="encumbranceHistory_@group.GroupID"></tr>
            <tr class="endOfGroup"><td colspan="13"></td></tr>
    }
            </tbody>
        </table>
    </div>
</div>