@model EPS3.ViewModels.LineItemViewModel

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            // populate FiscalYear dropdown
            populateFiscalYearList(@Model.LineItem.FiscalYear);
            $("FiscalYearList").hide();
        });
        function toggleFY() {
            var fyText = $("FiscalYear");
            var fyList = $("FiscalYearList");
            if (fyText.is(":visible")) {
                fyText.hide();
                fyList.show();
            } else {
                if (fyList.val()) {
                    fyText.text = fyList.val();
                }
                fyList.hide();
                fyText.show();
            }
        }
    </script>
}
@{
    ViewData["Title"] = "Edit Encumbrance Request";
}


<div class="panel-default">
    <div class="panel-heading">
        <h3>
            Encumbrance Request @{ if (ViewBag.duplicate != null && ViewBag.duplicate == "true")
                { <text> - Duplicate</text> }
            }
        </h3>
        <div class="float-right align-bottom">
            @if (ViewBag.SuccessMessage != null)
            {
                <text><em>ViewBag.SuccessMessage</em></text>
            }
        </div>
    </div>
    <div class="panel-body">
        <form asp-action="Edit" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="LineItem_ContractID" name="LineItem.ContractID" value="@ViewBag.ContractID" />
            <input type='hidden' id='UserID' name='UserID' value='@ViewBag.CurrentUser.UserID' />
            <div class="row">
                <div class="col-sm-2">
                    <strong>Contract:</strong> @ViewBag.Contract.ContractNumber
                </div>
                <div class="col-sm-2">
                    <strong>Contract Ending Date:</strong> @ViewBag.Contract.EndingDate.ToString("dd/MM/yyyy")
                </div>
                <div class="col-sm-2">
                    <strong>Budget Ceiling:</strong> @string.Format("{0:C}", @ViewBag.Contract.BudgetCeiling)
                </div>
                <div class="col-sm-4">
                    <strong>Description of Work:</strong> @ViewBag.Contract.DescriptionOfWork
                </div>
            </div> <!-- end row -->
            <div class="row">
                <hr />
            </div> <!-- end row -->
            <div class="row">
                <div class="col-sm-12">
                    <h3>Encumbrance</h3>
                </div> <!-- end col -->
            </div> <!-- end row -->
            <div class="row">
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.LineItem.LineItemGroupID)
                        </dt>
                        <dd>
                            <!-- Encumbrance Request Status record-->
                            @Html.DisplayFor(model => model.LineItem.LineItemGroupID)
                            <input type="hidden" id="LineItem_LineItemGroupID" name="LineItem.LineItemGroupID" value="@Model.LineItem.LineItemGroupID" />
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.LineItemGroup.LineItemType)
                        </dt>
                        <dd>
                            <!-- Encumbrance Request Status record-->
                            @Html.DisplayFor(model => model.LineItemGroup.LineItemType)
                            <input type="hidden" id="LineItemGroup_LineItemType" name="LineItemGroup.LineItemType" value="@Model.LineItemGroup.LineItemType" />
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.LineItemGroup.FlairAmendmentID)
                        </dt>
                        <dd>
                            @if (Model.LineItemGroup.FlairAmendmentID != null && Model.LineItemGroup.FlairAmendmentID.Length > 0)
                            {
                                @Model.LineItemGroup.FlairAmendmentID
                            }
                            else
                            {
                                <text>None</text>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.LineItemGroup.UserAssignedID)
                        </dt>
                        <dd>
                            @if (Model.LineItemGroup.UserAssignedID != null && Model.LineItemGroup.UserAssignedID.Length > 0)
                            {
                                @Model.LineItemGroup.UserAssignedID
                            }
                            else
                            {
                                <text>None</text>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-2" id="referencedAmendmentDiv">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.LineItemGroup.AmendedLineItemID)
                        </dt>
                        <dd>
                            @if (Model.LineItemGroup.AmendedLineItemID != null && Model.LineItemGroup.AmendedLineItemID.Length > 0)
                            {
                                @Model.LineItemGroup.AmendedLineItemID
                            }
                            else
                            {
                                <text>None</text>
                            }
                        </dd>
                    </dl>
                </div><!-- end col -->
            </div> <!-- end row -->
            <div class="row">
                <div class="col-sm-12">
                    @if (ViewBag.duplicate == "true")
                    {
                        <h3>Duplicate of Line Number @Model.LineItem.LineNumber</h3>
                        <input type="hidden" id="duplicate" name="duplicate" value="true" />
                    }
                    else
                    {
                        <h3>Line Number @Model.LineItem.LineNumber</h3>
                        <input type="hidden" id="LineItem_LineNumber" name="LineItem.LineNumber" value="@Model.LineItem.LineNumber" ) />
                        <input type="hidden" id="LineItem_LineItemID" name="LineItem.LineItemID" value="@Model.LineItem.LineItemID" ) />
                    }
                </div> <!-- end col -->
            </div> <!-- end row -->
            <div class="row">
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.LineItem.OrgCode)
                        </dt>
                        <dd>
                            @Html.TextBoxFor(model => model.LineItem.OrgCode)
                            @Html.ValidationMessageFor(model => model.LineItem.OrgCode, "Org Code is required.")
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.LineItem.FinancialProjectNumber)
                        </dt>
                        <dd>
                            @Html.TextBoxFor(model => model.LineItem.FinancialProjectNumber)
                            @Html.ValidationMessageFor(model => model.LineItem.FinancialProjectNumber, "A Financial Project Number is required.")
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-4">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItem.StateProgramID)
                        </dt>
                        <dd>
                            @Html.DropDownList("LineItem.StateProgramID", new SelectList((IEnumerable<StateProgram>)ViewData["StatePrograms"], "ProgramID", "ProgramSelector"))
                            @Html.ValidationMessageFor(model => model.LineItem.StateProgramID, "A State Program value is required.")
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItem.CategoryID)
                            <span class="glyphicon glyphicon-info-sign" title="Please begin typing and select a Category from the list of options."></span>
                        </dt>
                        <dd>
                            <input type="hidden" id="CategoryID" name="LineItem.CategoryID" value="@Model.LineItem.CategoryID" />
                            <div class="" data-toggle="tooltip" title="@Model.LineItem.Category.CategorySelector">
                                <input type="text" id="CategorySelector" name="CategorySelector" value="@ViewBag.myCategory.CategorySelector" />
                            </div>
                        </dd>
                    </dl>
                </div> <!-- end col -->
            </div> <!-- end row -->
            <div class="row">
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.LineItem.WorkActivity)
                        </dt>
                        <dd>
                            @Html.TextBoxFor(model => model.LineItem.WorkActivity)
                            @Html.ValidationMessageFor(model => model.LineItem.WorkActivity, "A Work Activity is required.")
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-1">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItem.OCAID)
                            <span class="glyphicon glyphicon-info-sign" title="Please begin typing and select an OCA value from the list of options."></span>
                        </dt>
                        <dd>
                            <input type="hidden" id="OCAID" name="LineItem.OCAID" value="@Model.LineItem.OCAID" />
                            <div class="" data-toggle="tooltip" title="@Model.LineItem.OCA.OCASelector">
                                <input type="text" id="OCASelector" name="OCASelector" value="@ViewBag.myOCA.OCACode" />
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-1">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.LineItem.ExpansionObject)
                        </dt>
                        <dd>
                            @Html.TextBoxFor(model => model.LineItem.ExpansionObject)
                            @Html.ValidationMessageFor(model => model.LineItem.ExpansionObject, "An Extension Object is required.")
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-1">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.LineItem.FlairObject)
                        </dt>
                        <dd>
                            @Html.TextBoxFor(model => model.LineItem.FlairObject)
                            @Html.ValidationMessageFor(model => model.LineItem.FlairObject, "A Flair Object is required.")
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-1">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.LineItem.FundID)
                            <span class="glyphicon glyphicon-info-sign" title="Please begin typing and select a Fund from the list of options."></span>
                        </dt>
                        <dd>
                            <input type="hidden" id="FundID" name="LineItem.FundID" value="@Model.LineItem.FundID" />
                            <div class="" data-toggle="tooltip" title="@ViewBag.myFund.FundDescription">
                                <input type="text" id="FundSelector" name="FundSelector" value="@ViewBag.myFund.FundCode" />
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.LineItem.FiscalYear)

                        </dt>
                        <dd>
                            @Html.HiddenFor(model => model.LineItem.FiscalYear)
                            <select id="FiscalYearList" name="FiscalYearList" class="fiscalyear"></select>
                            <p>The Fiscal Year runs from July 1 to June 30. </p><p>The current Fiscal Year is @ViewBag.CurrentFiscalYear.</p>
                            @Html.ValidationMessageFor(model => model.LineItem.FiscalYear, "Fiscal Year is a four digit year, the year ending a two-year fiscal span (i.e., 2018 = FY 17-18.")
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-2">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.LineItem.Amount)

                        </dt>
                        <dd>
                            <span class="input-group-addon">
                                <label for="Amount">
                                    <span class="glyphicon glyphicon-usd btn btn-default"></span>
                                    @Html.TextBoxFor(model => model.LineItem.Amount)
                                </label>
                            </span>
                            @Html.ValidationMessageFor(model => model.LineItem.Amount, "Amounts must be numeric values.")
                        </dd>
                    </dl>
                </div> <!-- end col -->
            </div> <!-- end row -->
            <div class="row">
                <div class="col-sm-10">
                    <dl>
                        <dt>
                            @Html.LabelFor(model => model.LineItem.Comments)
                        </dt>
                        <dd>
                        @if (Model.Comments.Count > 0)
                        {
                        <table width="100%">
                            <tr>
                                <th width="20%">Date</th>
                                <th width="20%">Commenter</th>
                                <th width="60%">Comment</th>
                            </tr>
                        @foreach (LineItemStatus listatus in Model.Comments)
                        {
                        <tr>
                            <td>@listatus.SubmittalDate</td>
                            <td>@listatus.User.FirstName @listatus.User.LastName</td>
                            <td>@listatus.Comments</td>
                        </tr>
                        }
                        </table>
                        }
                        else { 
                            <text>No Comments</text><hr/><br/>
                        }
                            
                        <b>Add New Comment</b><br />
                        <textarea id="Comments" name="Comments" rows="3" cols="200"></textarea>
                        </dd>
                    </dl>
                </div> <!-- end col -->
            </div> <!-- end row -->
            <div class="row">
                <div class="col-sm-8">
                    <dl>
                        <dd>
                            @{
                                if (ViewBag.duplicate != null && ViewBag.duplicate == "true")
                                {
                                    <input type="submit" value="Create Duplicate" class="btn btn-default" />
                                }
                                else
                                {
                                    <input type="submit" value="Update" class="btn btn-default" />
                                }
                            }
                        </dd>
                    </dl>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </form>
    </div> <!-- end panel body -->
</div> <!-- end panel -->
<div class="row">
    <div class="col-sm-8">
        <dl>
            <dd>
                <a asp-controller="Contracts" asp-action="View" asp-route-id="@ViewBag.ContractID">Back to Contract</a>
            </dd>
        </dl>
    </div> <!-- end col -->
</div> <!-- end row -->

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>File Attachments</h3>
        <a href="javascript:openFileAttachmentDialog();">Attach a File</a>
    </div>
    <div class="panel-body">
        <div class="row">
            @{ if (Model.FileAttachments.Count > 0)
                {
                    foreach (FileAttachment file in Model.FileAttachments)
                    {
                        <a href="openAttachment('file.FileName')"><p>file.FileName</p></a>
                    }
                }
                else
                {
                    <p>No file attachments.</p>
                }
            }
        </div> <!-- end row -->
    </div> <!-- end panel body -->
</div> <!-- end panel -->
 <!-- end lineItemCommentDialog -->

<div id="fileAttachmentDialog" title="Attach a File" style="display: none;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Select File Attachment</h4>
        </div>
        <div class='panel-body'>
            <form asp-controller="FileAttachments"
                  asp-action="Add" id="FileAttachmentsForm" name="FileAttachmentsForm"
                  method="post" enctype="multipart/form-data">
                <input type="file" name="file" />

                <button type="submit">Upload Attachment</button>
                <div asp-validation-summary='ModelOnly' class='text-danger'></div>

                <div class='form-group'>
                    <input type='hidden' id='LineItem.ContractID' name="LineItem_ContractID" value='@ViewBag.Contract.ContractID' />
                    <input type='hidden' id='LineItem.LineItemID' name="LineItem_LineItemID" value='@Model.LineItem.LineItemID' />
                    <input type='hidden' id='LineItem.UserID' name='LineItem_UserID' value='@ViewBag.CurrentUser.UserID' />
                </div>
            </form>
        </div> <!-- end panel body -->
    </div> <!-- end panel -->
</div> <!-- end fileAttachmentDialog -->
