@model IEnumerable<EPS3.Models.LineItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index of Encumbrance Requests</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Contract
            </th>
            <th>
                Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinancialProjectNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateProgram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkActivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OCA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpansionObject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlairObject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fund)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiscalYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contract.ContractNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineItemGroup.CurrentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinancialProjectNumber)
            </td>
            <td>
                <div class="" data-toggle="tooltip" data-placement="top" title="@item.StateProgram.ProgramName">
                    @Html.DisplayFor(modelItem => item.StateProgram.ProgramCode)
                </div>
            </td>
            <td>
                <div class="" data-toggle="tooltip" data-placement="top" title="@item.Category.CategoryName">
                    @Html.DisplayFor(modelItem => item.Category.CategoryCode)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkActivity)
            </td>
            <td>
                <div class="" data-toggle="tooltip" data-placement="top" title="@item.OCA.OCAName">
                    @Html.DisplayFor(modelItem => item.OCA.OCACode)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpansionObject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlairObject)
            </td>
            <td>
                <div class="" data-toggle="tooltip" data-placement="top" title="@item.Fund.FundDescription">
                    @Html.DisplayFor(modelItem => item.Fund.FundCode)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalYearRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a href="/Contracts/View?id=@item.ContractID#enc_@item.LineItemGroupID">Review</a>
            </td>
        </tr>
}
    </tbody>
</table>
