<!DOCTYPE html>
<html>
<head>
    @using System.Security.Authentication;
    @using System.Web;

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Encumbrance Processing System</title>


        <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> -->
        <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-cerulean.css" /> -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/FDOT-bootstrap.css" />
        <link href="~/css/jquery-ui.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body>
    @if(ViewBag.CurrentUser != null) { 
    @Html.Partial("_NavBar")
    }
    <div class="container-fluid body-content">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        @RenderBody()
        <hr />
        <footer>
            <p>
                @User.Identity.Name
                <input type="hidden" id="CurrentAppUser" name="CurrentAppUser" value="@User.Identity.Name" />
            </p>
            <p>&copy; 2018 - Florida's Turnpike Enterprise</p>
        </footer>
    </div>

        <script src="~/lib/jquery/dist/jquery-3.3.1.js"></script>
        <script src="~/lib/jquery/dist/jquery-ui-1.12.1.js"></script>
        <script src="~/lib/jquery/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/DataTables/datatables.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
                crossorigin="anonymous">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
